@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <img asp-append-version="true" src="~/img/cat1.jpg" width="300px" />
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat2.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat3.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat4.jpg" width="300px" />
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat5.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat6.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat7.jpg" width="300px" />
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat8.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat9.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat10.jpg" width="300px" />
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat11.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat12.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat13.jpg" width="300px" />
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat14.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <img src="~/img/cat15.jpg" width="300px" />

            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
